.showcase-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.showcase-control {
  padding: 0 2rem;
  background-color: transparent;
  border: none;
}

.showcase-control:focus {
  outline: none;
}

.showcase-control .material-icons {
  font-size: 3rem;
}

.showcase-wrapper {
  position: relative;
  width: 90%;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  flex: 1;
}

.showcase-wrapper::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 100%;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(right, transparent, #ffffff);
  background: linear-gradient(right, transparent, #ffffff);
  z-index: 1;
}

.showcase-wrapper::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 100%;
  right: 0;
  top: 0;
  background: -webkit-linear-gradient(left, transparent, #ffffff);
  background: linear-gradient(left, transparent, #ffffff);
  z-index: 1;
}

.showcase {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.5s ease-out;
}

.showcase-item {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20rem;
  justify-content: space-between;
  height: 20rem;
  padding: 2rem;
  margin: 1rem 0;
  border: 2px black solid;
  border-radius: 10px;
}

.showcase-badges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.showcase-badge {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.showcase-item:not(:first-child) {
  margin-left: 0.5rem;
}

.showcase-item:not(:last-child) {
  margin-right: 0.5rem;
}

.showcase-item-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
}
