.typewriter {
  display: flex;
  justify-content: flex-start;
}

.blinking-cursor {
  overflow: hidden;
  border-bottom: 0.325rem solid #222831e5;
  width: 1.75rem;
  white-space: nowrap;
  margin-left: 0.2rem;
  margin-bottom: 1.25rem;
  animation: blink-caret 0.75s step-end infinite;
}
/* 
.blinking-cursor {
    overflow: hidden;
    border-right: .3rem solid black;
    white-space: nowrap;
    margin-left: 0.3rem;
    margin-top: 0.8rem;
    margin-bottom: 1.2rem;
    animation: blink-caret .75s step-end infinite;
} */

@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
}
